# Library dependencies for the python code.  
#You can install these with 'pip install -r requirements.txt'

#Neural Network libraries
keras
tensorflow

#Dataprocessing libraries
numpy
pandas
pickle

#NLP libraries
nltk